In [169]:
# Ingreso de la informacion del equipo A

#equipoA[] tamaño n = 5
#equipoA = [2, 10, 5, 4, 8]
#equipoB[] tamaño m = 4
#equipoB = [3, 1, 7, 8]


equipoA = []
n = int(input("Ingresar la cantidad de partidos jugados por el equipoA: "))
while n>0:
  dato = input("Ingresar los goles marcados por el equipoA : ")
  equipoA.append(str(dato))
  n-=1
print("Contenido del equipoA:\n",equipoA)

Ingresar la cantidad de partidos jugados por el equipoA: 5
Ingresar los goles marcados por el equipoA : 2
Ingresar los goles marcados por el equipoA : 10
Ingresar los goles marcados por el equipoA : 5
Ingresar los goles marcados por el equipoA : 4
Ingresar los goles marcados por el equipoA : 8
Contenido del equipoA:
 ['2', '10', '5', '4', '8']

In [170]:
# Ingreso de la informacion del equipo B
equipoB = []
m = int(input("Ingresar la cantidad de partidos jugados por el equipoB: "))
while m>0:
  dato = input("Ingresar los goles marcados por el equipoB : ")
  equipoB.append(str(dato))
  m-=1
print("Contenido del equipoB:\n",equipoB)

Ingresar la cantidad de partidos jugados por el equipoB: 4
Ingresar los goles marcados por el equipoB : 3
Ingresar los goles marcados por el equipoB : 1
Ingresar los goles marcados por el equipoB : 7
Ingresar los goles marcados por el equipoB : 8
Contenido del equipoB:
 ['3', '1', '7', '8']

In [171]:
# Validar el contenido de las listas de los
print(equipoA)
print(equipoB)

['2', '10', '5', '4', '8']
['3', '1', '7', '8']

In [172]:

valme=[]
valeocu=[]


for i in equipoA:
    for j in equipoB:

      
        #print(f"i vale {i} y j vale {j}")
        if i>=j: #and j not in valme:
          
          print(f"Valor i {i}")
          print(f"valoe j {j}")    
          valme.append(j)
          print(f"Valor valor menos es {j}")
          
        else:
          print(f"el valor no es menor {valorocu}")

el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
Valor i 2
valoe j 1
Valor valor menos es 1
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
Valor i 10
valoe j 1
Valor valor menos es 1
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
Valor i 5
valoe j 3
Valor valor menos es 3
Valor i 5
valoe j 1
Valor valor menos es 1
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
Valor i 4
valoe j 3
Valor valor menos es 3
Valor i 4
valoe j 1
Valor valor menos es 1
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
el valor no es menor [0, [2, 2, 5, 4, 2, 5, 4, 8]]
Valor i 8
valoe j 3
Valor valor menos es 3
Valor i 8
valoe j 1
Valor valor menos es 1
Valor i 8
valoe j 7
Valor valor menos es 7
Valor i 8
valoe j 8
Valor valor menos es 8

In [173]:
# Valores menores  por iteracion
valme

['1', '1', '3', '1', '3', '1', '3', '1', '7', '8']